<h1>Purchased successfully</h1>
<div class="row cart-buttons">
    <div class="col-6"><a href="/Home/Index" class="btn btn-solid">continue shopping</a></div>
    <div class="col-6"><a href="/Order/MyOrders" class="btn btn-solid">My Orders</a></div>
</div>